<!DOCTYPE html>
<html lang="en">
<head>
h1 { text-align:center; font-weight:bold; font-style:italic; }
<meta charset="utf-8">
<title> Test Page </title>
<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
Hello world!!
I like class
I like professor
I like homework
{background: pink;font-family:"comic sans ms";}
</body>
</html>
